cmake-build-*
.idea
.mypy_cache
**/__pycache__

**/*.egg-info

logs
**/*.log


.VSCodeCounter

python/**/*.pdf

example/build/

example/report/

.vscode

exp/*list*.txt

baseline

example/

examples/reports/

examples/ncu-rep/*

examples/src_fp32/acc/testbed/scripts/motivation_scripts/plan_fig/*

*.checkpoint

examples/src_fp16/dtc/testbed/scripts/draw_timeline/*

**/mtx_cache/*

motivation/TCBlockNum/*

examples/**/testbed/build/*

examples/**/testbed/build_new/*

examples/**/testbed/plans_new/*